:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(24, 42, 0);
  --third-color: rgb(105, 105, 105);
  --font-color: rgb(255, 255, 255);
  --selected-font-color: rgba(20, 201, 242, 0.822);   
  --contrast-color: rgba(197, 38, 38, 0.822);   
}

body {
  background: linear-gradient(var(--primary-color), var(--secondary-color))
}

@media (min-width: 1200px) {
  .container{
      max-width: 900px;
  }
}

#root {
  background: 
    linear-gradient( 0deg, var(--third-color), transparent 1px), 
    linear-gradient( 90deg, var(--third-color), transparent 1px);
  /* background: linear-gradient(var(--secondary-color), var(--primary-color)); */
  color: var(--font-color);
  min-height: 100vh;
  background-size: 15px 15px;
  background-position: center center;
}

.navbar-brand {
  font-size: 25px;
}

/* a, .nav-link {
  color: var(--selected-font-color);
}

a, .nav-link:focus {
  cursor: pointer;
}
a, .nav-link:hover {
  color: var(--selected-font-color);
} */

.page {
  background: var(--primary-color);
  /* box-shadow: 1px 1px 1px 1px var(--third-color); */
  /* border: 1px solid var(--selected-font-color); */
  border-radius: 10px;
  min-height: 100vh;
  padding-top: 30px;
}

.username {
  /* color: var(--selected-font-color); */
  /* font-weight: bold; */
  /* font-style: oblique; */
  /* color: skyblue; */
  /* font-weight: bold; */
  /* color: var(--selected-font-color); */
  cursor: pointer;
  text-decoration: underline;
}