:root {
  --primary-color: rgb(71, 76, 61);
  --secondary-color: rgb(15, 16, 13);
  --font-color: rgb(208, 222, 166);
  --selected-font-color: aqua;   
}


#root {
  background: linear-gradient(var(--secondary-color), var(--primary-color));
  color: var(--font-color);
  min-height: 100vh;
}

a, .nav-link {
  color: var(--selected-font-color);
}

a, .nav-link:focus {
  cursor: pointer;
}